# mysql.connector

In [ ]:
pip install mysql-connector-python

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import mysql.connector

# 1. MySQL Ïó∞Í≤∞
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="Î∂ÑÏÑùÏã§Ïäµ"
)
cursor = conn.cursor()

In [ ]:
# 2. ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÏùΩÍ∏∞ (ÌÉ≠ Íµ¨Î∂ÑÏûêÎùºÍ≥† Í∞ÄÏ†ï)
df_customer = pd.read_csv("./mig/customer.txt", sep="\t", dtype=str,  encoding='cp949')
df_customer.shape
#(5369, 8)

(5369, 8)

In [ ]:
df_sales = pd.read_csv("mig/sales.txt", sep="\t", dtype=str,  encoding='cp949')
df_sales.shape
#(541909, 8)

(541909, 8)

In [ ]:
# 3. CUSTOMER INSERT
for row in df_customer.itertuples(index=False, name=None):
    cursor.execute("""
        INSERT INTO CUSTOMER (mem_no, last_name, first_name, gd, birth_dt, entr_dt, grade, sign_up_ch)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, row)
    
conn.commit()  # Î≥ÄÍ≤ΩÏÇ¨Ìï≠ Ï†ÄÏû•

cursor.execute("SELECT COUNT(*) FROM CUSTOMER")
print(f"Ï¥ù {cursor.fetchone()[0]}Í±¥ ÏÇΩÏûÖ ÏôÑÎ£å")

Ï¥ù 5369Í±¥ ÏÇΩÏûÖ ÏôÑÎ£å

In [ ]:
# 4. SALES Îç∞Ïù¥ÌÑ∞Ï†ÑÏ≤òÎ¶¨
df_sales = df_sales.dropna(subset=["CustomerID"])
df_sales["CustomerID"] = df_sales["CustomerID"].astype(int)

# ÎÇ†Ïßú Î∞è Ïà´Ïûê Î≥ÄÌôò
df_sales["Quantity"] = df_sales["Quantity"].astype(int)
df_sales["UnitPrice"] = df_sales["UnitPrice"].astype(float)
df_sales["CustomerID"] = df_sales["CustomerID"].astype(int)

# DATETIME Î≥ÄÌôò
df_sales["InvoiceDate"] = pd.to_datetime(df_sales["InvoiceDate"], errors='coerce')
df_sales["InvoiceDate"] = df_sales["InvoiceDate"].dt.strftime('%Y-%m-%d %H:%M:%S')
df_sales.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
# 5. SALES INSERT
df_sales = df_sales.astype(object)
rows = [tuple(x) for x in df_sales.to_records(index=False)]
cursor.executemany("""
    INSERT INTO SALES (InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""", rows)

conn.commit()

cursor.execute("SELECT COUNT(*) FROM SALES")
print(f"Ï¥ù {cursor.fetchone()[0]}Í±¥ ÏÇΩÏûÖ ÏôÑÎ£å")

Ï¥ù 406829Í±¥ ÏÇΩÏûÖ ÏôÑÎ£å

In [ ]:
# 6. Ï¢ÖÎ£å
cursor.close()
conn.close()
print("Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÏôÑÎ£å")

Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÏôÑÎ£å

# pymysql Ïó∞Í≤∞

In [3]:
import pymysql

# My SQL Ïó∞Í≤∞
con = pymysql.connect(host = 'localhost',user = 'root',password = '1234',db = 'my_db',
                      charset= 'utf8') # ÌïúÍ∏ÄÏ≤òÎ¶¨

con

In [4]:
cursor = con.cursor()

In [8]:
sql_query = """SELECT e.ename AS ÏÇ¨ÏõêÏù¥Î¶Ñ, 
            d.dname AS ÏÜåÏÜçÎ∂ÄÏÑúÏù¥Î¶Ñ, 
            e.sal AS Í∏âÏó¨, 
            e.job AS ÏßÅÎ¨¥
        FROM emp e
        JOIN dept d ON e.deptno = d.deptno;"""

cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('CLARK', 'ACCOUNTING', Decimal('2450.00'), 'MANAGER')
('KING', 'ACCOUNTING', Decimal('5000.00'), 'PRESIDENT')
('MILLER', 'ACCOUNTING', Decimal('1300.00'), 'CLERK')
('SMITH', 'RESEARCH', Decimal('800.00'), 'CLERK')
('JONES', 'RESEARCH', Decimal('2975.00'), 'MANAGER')
('SCOTT', 'RESEARCH', Decimal('3000.00'), 'ANALYST')
('ADAMS', 'RESEARCH', Decimal('1100.00'), 'CLERK')
('FORD', 'RESEARCH', Decimal('3000.00'), 'ANALYST')
('ALLEN', 'SALES', Decimal('1600.00'), 'SALESMAN')
('WARD', 'SALES', Decimal('1250.00'), 'SALESMAN')
('MARTIN', 'SALES', Decimal('1250.00'), 'SALESMAN')
('BLAKE', 'SALES', Decimal('2850.00'), 'MANAGER')
('TURNER', 'SALES', Decimal('1500.00'), 'SALESMAN')
('JAMES', 'SALES', Decimal('950.00'), 'CLERK')

In [10]:
import pandas as pd
emp = pd.DataFrame(result)
emp

         0           1        2          3
0    CLARK  ACCOUNTING  2450.00    MANAGER
1     KING  ACCOUNTING  5000.00  PRESIDENT
2   MILLER  ACCOUNTING  1300.00      CLERK
3    SMITH    RESEARCH   800.00      CLERK
4    JONES    RESEARCH  2975.00    MANAGER
5    SCOTT    RESEARCH  3000.00    ANALYST
6    ADAMS    RESEARCH  1100.00      CLERK
7     FORD    RESEARCH  3000.00    ANALYST
8    ALLEN       SALES  1600.00   SALESMAN
9     WARD       SALES  1250.00   SALESMAN
10  MARTIN       SALES  1250.00   SALESMAN
11   BLAKE       SALES  2850.00    MANAGER
12  TURNER       SALES  1500.00   SALESMAN
13   JAMES       SALES   950.00      CLERK

In [ ]:
# Ïó∞Í≤∞Í≥º Ïª§ÏÑúÎã´Í∏∞
cursor.close()
con.close()

# mySQLdb

In [12]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

In [13]:
import MySQLdb
# MySQL ÏÑúÎ≤ÑÏóê Ïó∞Í≤∞
db_config = {
'host' :'localhost',  # Ìò∏Ïä§Ìä∏ Ïù¥Î¶Ñ
'user' : 'root', # MySQL ÏÇ¨Ïö©Ïûê Ïù¥Î¶Ñ
'passwd' : '1234', # MySQL ÏÇ¨Ïö©Ïûê ÎπÑÎ∞ÄÎ≤àÌò∏
'db' : 'my_db', # Ïó∞Í≤∞Ìï† Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
'charset' : 'utf8'
}
print('hello')

try:
    conn = MySQLdb.connect(**db_config) # Ïª§ÏÑú ÏÉùÏÑ±
    cursor = conn.cursor() # ÏøºÎ¶¨ Ïã§Ìñâ ÏòàÏãú
    sql_query = "SELECT * FROM dept"
    cursor.execute(sql_query) # ÏøºÎ¶¨ Í≤∞Í≥º Í∞ÄÏ†∏Ïò§Í∏∞
    result = cursor.fetchall() # Í≤∞Í≥º Ï∂úÎ†•
    for row in result:
        print(row)
except MySQLdb.Error as e:
    print(f"Error: {e}")
finally: # Ïó∞Í≤∞Í≥º Ïª§ÏÑú Îã´Í∏∞
    cursor.close()
    conn.close()

hello
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

# SQLAlchemy(ORMÍ∏∞Î∞ò)

In [14]:
pip install sqlalchemy pymysql

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: pymysql in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (1.1.1)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 4.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.0 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl (297 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41
Note: you may need to restart the kernel to use updated packages.

1. Ïó∞Í≤∞ÌôïÏù∏

In [15]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:1234@localhost/my_db")
df = pd.read_sql("SHOW TABLES IN my_db;", engine)
tables = pd.read_sql("SELECT * FROM dept", engine)
print(df)
tables.head()

  Tables_in_my_db
0            dept
1             emp
2        salgrade

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

2. Î™®Îç∏ÏùÑ Ï†ïÏùòÌïòÍ≥† Ïó∞Í≤∞

In [ ]:
# products Î™®Îç∏ÏùÑ Ï†ïÏùòÌïòÍ≥† Ïó∞Í≤∞
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# DB Ïó∞Í≤∞ Î¨∏ÏûêÏó¥: MySQL + PyMySQL
engine = create_engine("mysql+pymysql://root:1234@localhost/my_db", echo=True)

# ORM Í∏∞Î≥∏ ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±
Base = declarative_base()

# products ÌÖåÏù¥Î∏î Ï†ïÏùò
class Product(Base):
    __tablename__ = 'products_1'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    price = Column(Integer, nullable=False)
    stock = Column(Integer, nullable=False)

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price}, stock={self.stock})>"

# ÌÖåÏù¥Î∏î ÏÉùÏÑ±
Base.metadata.create_all(engine)

2025-07-08 11:40:20,446 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-07-08 11:40:20,447 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-08 11:40:20,448 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-07-08 11:40:20,449 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-08 11:40:20,450 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-07-08 11:40:20,450 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-08 11:40:20,451 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-08 11:40:20,452 INFO sqlalchemy.engine.Engine DESCRIBE `my_db`.`products_1`
2025-07-08 11:40:20,452 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-08 11:40:20,454 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\Admin\AppData\Local\Temp\ipykernel_5440\3052729708.py:10: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

3. ÏÑ∏ÏÖò ÏÑ§Ï†ï: ÏÑ∏ÏÖòÏùÄ ÌååÏù¥Ïç¨ Í∞ùÏ≤¥ÏôÄ Ïã§Ï†ú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÏÇ¨Ïù¥Ïùò Î≥ÄÌôî Í∞êÏßÄ, ÎèôÍ∏∞Ìôî, Ìä∏ÎûúÏû≠ÏÖò Í¥ÄÎ¶¨Î•º ÏàòÌñâÌïúÎã§.

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

4. CEATE: ÏÉÅÌíàÎì±Î°ù

In [18]:
def add_product(name, price, stock):
    new_product = Product(name=name, price=price, stock=stock)
    session.add(new_product)
    session.commit()
    print(f"üÜï '{name}' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!")


add_product("Î°§Î¶¨Ìåù", 500, 10)
add_product("Ìï´Ï¥àÏΩî", 2000, 10)

2025-07-08 11:40:27,737 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-08 11:40:27,738 INFO sqlalchemy.engine.Engine INSERT INTO products_1 (name, price, stock) VALUES (%(name)s, %(price)s, %(stock)s)
2025-07-08 11:40:27,738 INFO sqlalchemy.engine.Engine [generated in 0.00037s] {'name': 'Î°§Î¶¨Ìåù', 'price': 500, 'stock': 10}
2025-07-08 11:40:27,740 INFO sqlalchemy.engine.Engine COMMIT
üÜï 'Î°§Î¶¨Ìåù' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!
2025-07-08 11:40:27,767 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-08 11:40:27,767 INFO sqlalchemy.engine.Engine INSERT INTO products_1 (name, price, stock) VALUES (%(name)s, %(price)s, %(stock)s)
2025-07-08 11:40:27,768 INFO sqlalchemy.engine.Engine [cached since 0.02952s ago] {'name': 'Ìï´Ï¥àÏΩî', 'price': 2000, 'stock': 10}
2025-07-08 11:40:27,769 INFO sqlalchemy.engine.Engine COMMIT
üÜï 'Ìï´Ï¥àÏΩî' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!

5. READ: ÏÉÅÌíàÏ°∞Ìöå

In [19]:
def list_products():
    products = session.query(Product).all()
    for p in products:
        print(p)

list_products()

2025-07-08 11:40:54,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-08 11:40:54,926 INFO sqlalchemy.engine.Engine SELECT products_1.id AS products_1_id, products_1.name AS products_1_name, products_1.price AS products_1_price, products_1.stock AS products_1_stock
FROM products_1
2025-07-08 11:40:54,927 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
<Product(id=1, name='Î°§Î¶¨Ìåù', price=500, stock=10)>
<Product(id=2, name='Ìï´Ï¥àÏΩî', price=2000, stock=10)>

6. UPDATE: Í∞ÄÍ≤©ÏàòÏ†ï

In [20]:
def update_price(product_id, new_price):
    product = session.query(Product).get(product_id)
    if product:
        product.price = new_price
        session.commit()
        print(f"üí∏ {product.name}Ïùò Í∞ÄÍ≤©Ïù¥ {new_price}ÏõêÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.")
    else:
        print("‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.")

update_price(2, 3000)

2025-07-08 11:41:00,186 INFO sqlalchemy.engine.Engine SELECT products_1.id AS products_1_id, products_1.name AS products_1_name, products_1.price AS products_1_price, products_1.stock AS products_1_stock
FROM products_1
WHERE products_1.id = %(pk_1)s
2025-07-08 11:41:00,187 INFO sqlalchemy.engine.Engine [generated in 0.00144s] {'pk_1': 2}
2025-07-08 11:41:00,190 INFO sqlalchemy.engine.Engine UPDATE products_1 SET price=%(price)s WHERE products_1.id = %(products_1_id)s
2025-07-08 11:41:00,191 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {'price': 3000, 'products_1_id': 2}
2025-07-08 11:41:00,192 INFO sqlalchemy.engine.Engine COMMIT
2025-07-08 11:41:00,197 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-08 11:41:00,198 INFO sqlalchemy.engine.Engine SELECT products_1.id AS products_1_id, products_1.name AS products_1_name, products_1.price AS products_1_price, products_1.stock AS products_1_stock
FROM products_1
WHERE products_1.id = %(pk_1)s
2025-07-08 11:41:00,199 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'pk_1': 2}
üí∏ Ìï´Ï¥àÏΩîÏùò Í∞ÄÍ≤©Ïù¥ 3000ÏõêÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.

C:\Users\Admin\AppData\Local\Temp\ipykernel_5440\4289321564.py:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

7. DELETE: ÏÉÅÌíàÏÇ≠Ï†ú

In [21]:
def delete_product(product_id):
    product = session.query(Product).get(product_id)
    if product:
        session.delete(product)
        session.commit()
        print(f"üóëÔ∏è '{product.name}' ÏÉÅÌíàÏù¥ ÏÇ≠Ï†úÎêòÏóàÏäµÎãàÎã§.")
    else:
        print("‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.")
        
delete_product(3)

2025-07-08 11:41:05,621 INFO sqlalchemy.engine.Engine SELECT products_1.id AS products_1_id, products_1.name AS products_1_name, products_1.price AS products_1_price, products_1.stock AS products_1_stock
FROM products_1
WHERE products_1.id = %(pk_1)s
2025-07-08 11:41:05,622 INFO sqlalchemy.engine.Engine [cached since 5.436s ago] {'pk_1': 3}
‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.

C:\Users\Admin\AppData\Local\Temp\ipykernel_5440\652162444.py:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

8. ÏÑ∏ÏÖòÏùò Î∞òÎÇ©

In [22]:
try:
    # ÏûëÏóÖ
    product = session.query(Product).get(1)
    product.price += 500
    session.commit()
except Exception as e:
    session.rollback()
    print("ÏòàÏô∏ Î∞úÏÉù, Î°§Î∞±:", e)
finally:
    session.close()
    print("ÏÑ∏ÏÖò Ï¢ÖÎ£å")

2025-07-08 11:41:10,760 INFO sqlalchemy.engine.Engine SELECT products_1.id AS products_1_id, products_1.name AS products_1_name, products_1.price AS products_1_price, products_1.stock AS products_1_stock
FROM products_1
WHERE products_1.id = %(pk_1)s
2025-07-08 11:41:10,760 INFO sqlalchemy.engine.Engine [cached since 10.57s ago] {'pk_1': 1}
2025-07-08 11:41:10,761 INFO sqlalchemy.engine.Engine UPDATE products_1 SET price=%(price)s WHERE products_1.id = %(products_1_id)s
2025-07-08 11:41:10,762 INFO sqlalchemy.engine.Engine [cached since 10.57s ago] {'price': 1000, 'products_1_id': 1}
2025-07-08 11:41:10,762 INFO sqlalchemy.engine.Engine COMMIT
ÏÑ∏ÏÖò Ï¢ÖÎ£å

C:\Users\Admin\AppData\Local\Temp\ipykernel_5440\1734247740.py:3: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(1)